#python
__pycache__/
*.pyc

#Environments
/user_environment.sh

# macOS
.DS_Store

# Build artifacts
/install/
/libtrellis/build/

#logs
ispTcl.log
ispTcl.log.*
ispTcl.tcl
ispTcl.tcl.*
.ispTcl.lock
work_*/

#Editors and IDEs
.*.d
.*.swp
.*.swo
.*.swn
.*.swm
*.log
